.App {
    text-align: center;
    display: flex;
    flex-direction: column;

    background-image: url(kukka_transparent.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.App-logo {
    height: 100%;
}

.App-info {
    max-width: 60%;
    align-items: start;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*font-size: calc(10px + 1.1vmin);*/
}

.app-info {
    font-size: calc(10px + 1.1vmin);
}

.middle-banner {
    color: white;
}

.App-header {
    text-align: center;
    align-items: start;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}

.App-logo {
    width: 100%;
}

.App-link {
    color: #61dafb;
}

.header {
    float: top;
}

.body, html {
    height: 100%;
    margin: 0;
}

.flower2 {
    width: 50%;
    float: right;
}

.cs1 {
    width: 50%;
    float: left;
}

.footer-text {
    color: black;
}
